$ff: 'Poppins', sans-serif;

$white: #FFFFFF;
$black: #000;
$text: #666666;
$title: #474747;
$blue: #4579CB;

$paragraph: #262626;
$terciary: #F9F1FE;
$primary: #8842F0;
$white: #FFFFFF;
$black: #000;
$grey: #D9D9D9;
$darkgrey: #6C6C6C;
$darkpurple: #1C1B1F;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 991.98px;
$tablet-small: 767.98px;
$mobile: 575.98px;

$container: 1210px;
